/* MISCELLANEOUS ========================================================= */
:root {
    font-family: "Times New Roman", serif;
    font-size:3vw;
    width:100%;
    height:100%;
    color:var(--html-font-color);
    --html-font-color:var(--dark-html-font-color);
    --body-border:var(--dark-body-border);
    --body-background-color:var(--dark-body-background-color);
    --selection-font-color:var(--dark-selection-font-color);
    --selection-background-color:var(--dark-selection-background-color);
    --header-border:var(--dark-header-border);
    --header-background-color:var(--dark-header-background-color);
    --header-links-border:var(--dark-header-links-border);
    --footer-border:var(--dark-footer-border);
    --footer-background-color:var(--dark-footer-background-color);
    --link-color:var(--dark-link-color);
    --link-hover-color:var(--dark-link-hover-color);
    --light-html-font-color:#111;
    --light-body-border:#999;
    --light-body-background-color:white;
    --light-selection-font-color:white;
    --light-selection-background-color:#0000ee;
    --light-header-border:#999;
    --light-header-background-color:white;
    --light-header-links-border:#999;
    --light-footer-border:#999;
    --light-footer-background-color:white;
    --light-link-color:#0000ee;
    --light-link-hover-color:#0000ee;
    --dark-html-font-color:#999;
    --dark-body-border:#333;
    --dark-body-background-color:#111;
    --dark-selection-font-color:lightyellow;
    --dark-selection-background-color:#333;
    --dark-header-border:#333;
    --dark-header-background-color:#111;
    --dark-header-links-border:#333;
    --dark-footer-border:#333;
    --dark-footer-background-color:#111;
    --dark-link-color:lightyellow;
    --dark-link-hover-color:lightyellow;
}
.color-mode-switch:checked ~ * {
    --html-font-color:var(--light-html-font-color);
    --body-border:var(--light-body-border);
    --body-background-color:var(--light-body-background-color);
    --selection-font-color:var(--light-selection-font-color);
    --selection-background-color:var(--light-selection-background-color);
    --header-border:var(--light-header-border);
    --header-background-color:var(--light-header-background-color);
    --header-links-border:var(--light-header-links-border);
    --footer-border:var(--light-footer-border);
    --footer-background-color:var(--light-footer-background-color);
    --link-color:var(--light-link-color);
    --link-hover-color:var(--light-link-hover-color);
}
body {
    margin: 0 25vw;
    width:50vw;
    border:0.1vh solid var(--body-border);
    background-color:var(--body-background-color);
}
.right{
    float:right;
}
.left{
    float:left;
}
.main {
    font-size:2vh;
}
/* SELECTION ============================================================= */
::-moz-selection { /* specific to Firefox */
    color:var(--selection-font-color);
    background:var(--selection-background-color);
}
::selection {
    color:var(--selection-font-color);
    background:var(--selection-background-color);
}
/* NAV =================================================================== */
#nav {
    width:8.3vw;
    height:12.5vh;
    position:fixed;
    z-index:1;
    top:10vh;
    left:16.7vw;
    background:var(--body-background-color);
    overflow-x:hidden;
    padding:5px 0;
}
/* MAIN=================================================================== */
p {
	margin:0
}
#description_skills-work {
	padding-bottom: 1vh;
}
#home_pic {
    height: 25vh;
}
#home_title {
    font-size: 8vh;
    font-weight: bold;
}
#home {
	margin-top: 51vh;
}
.main {
    text-align:justify;
	margin-left: 1vw;
	margin-right: 1vw;
    margin-bottom: 3vh;;
}
/* LINKS ================================================================= */
a {
    cursor: pointer;
    text-decoration: none;
}
.anchor {
    display:none;
    text-decoration:none;
}
.bold:hover::before {
    content:"~/";
    position:relative;
    right:1px;
    transition:all 0.25s ease;
}
.bold:hover::after {
    content:"";
    position:relative;
    left:1px;
    transition:all 0.25s ease;
}
._link{
    text-transform:uppercase;
    color:gray;
    padding:0.15vw;
    text-decoration:none;
    text-align:right;
}
._link:hover {
    color:white;
    padding:0.15vw;
    text-decoration:none;
    transition:all 0.25s ease;
}
._ref {
    color:var(--html-font-color);
    text-decoration:underline;
    text-decoration-color:var(--link-hover-color);
}
._ref:hover {
    color:var(--link-hover-color);
    text-decoration:none;
    transition:all 0.25s ease;
}
